{% extends "base_adminbarang.html" %}

{% block title %}
Barang Keluar -
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/adminbarang_barangkeluar.css">
{% endblock %}

{% block content %}

<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h1>DAFTAR BARANG KELUAR</h1>
      <div class="search">
        <label>
          <input type="text" id="searchInput" placeholder="Search here" />
          <ion-icon name="search-outline"></ion-icon>
        </label>
      </div>
    </div>

    <!-- <div style="display: flex; margin-top: 25px; margin-bottom: 25px">
      <button class="btn" data-toggle="modal" data-target="#addModal" style="
          padding: 10px 20px;
          background: #272c52;
          color: var(--white);
          border-radius: 6px;
        ">
        <ion-icon name="add-outline"></ion-icon> Tambah
      </button>
    </div> -->

    <table>
      <thead>
        <tr>
          <td>No</td>
          <td>Tanggal Penerimaan</td>
          <td>Tanggal Pengajuan</td>
          <td>Kategori</td>
          <td>Nama Barang</td>
          <td>Satuan</td>
          <td>Jumlah</td>
          <!-- <td>Stock</td> -->
          <!-- <td>Keterangan</td> -->
          <td>Keterangan</td>
          <!-- <td>Terakhir Diedit</td> -->
          <!-- <td>Action</td> -->
        </tr>
      </thead>

      <tbody id="body-table">
        {#
        {% for data in outgoing_transactions %}
        <tr data-id="{{ data._id }}">
          <td>{{ loop.index }}</td>
          <td class="tanggal_keluar">{{ data.tanggal_keluar.strftime('%Y-%m-%d') }}</td>
          <td>{{ data.nama_kategori }}</td>
          <td><label class="barang_id" style="display: none;">{{ data.barang_id }}</label><label class="nama_barang">{{
              data.nama_barang }}</label></td>
          <td>{{ data.satuan }}</td>
          <td class="jumlah_barang">{{ data.jumlah_barang }}</td>
          <td>{{ data.stock_tersedia }}</td>
          <td class="keterangan">{{ data.keterangan }}</td>
          <td>{{ data.added_by }}</td>
          <td>{{ data.last_edited_by }}</td>
          <td>
            {% if session.get('username') == data.added_by %}
            <div style="display: flex">
              <button class="btn edit-btn" data-toggle="modal" data-target="#editModal" style="
                  padding: 10px 15px;
                  background: #ebcc7b;
                  color: var(--white);
                  border-radius: 6px;
                ">
                <ion-icon name="create"></ion-icon>
              </button>
              <button class="btn delete-btn" data-toggle="modal" data-target="#deleteModal" style="
                  padding: 10px 15px;
                  background: #cf4a4a;
                  color: var(--white);
                  border-radius: 6px;
                  margin-left: 10px;
                ">
                <ion-icon name="trash"></ion-icon>
              </button>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        #}

        {% for data in barang_keluar_tbl %}
        <tr data-id="{{ data._id }}">
          <td>{{ loop.index }}</td>
          <td class="tanggal_keluar">{{ data.tanggal_penerimaan }}</td>
          <td class="tanggal_keluar">{{ data.tanggal_pengajuan }}</td>
          <td class="tanggal_keluar">{{ data.kategori.nama_kategori if data.kategori and data.kategori.nama_kategori
            else '-' }}</td>
          <td><label class="nama_barang">{{ data.nama_barang }}</label></td>
          <td>{{ data.satuan }}</td>
          <td class="jumlah_barang">{{ data.jumlah_diterima }}</td>
          <td>Ruangan {{ data.ruangan }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- =========== Modals =========== -->
<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Tambah Barang Keluar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addForm">
          <div class="form-group">
            <label for="tanggal_keluar">Tanggal</label>
            <input type="date" class="form-control" id="tanggal_keluar" placeholder="Masukkan Tanggal" required
              value="{{ today }}" />
          </div>
          <div class="form-group">
            <label for="barang_id">Nama Barang</label>
            <select class="form-control" id="barang_id" required>
              {% for item in items %}
              <option value="{{ item._id }}">{{ item.nama_barang }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="jumlah_barang">Jumlah</label>
            <input type="number" class="form-control" id="jumlah_barang" placeholder="Masukkan Jumlah Barang"
              required />
          </div>
          <div class="form-group">
            <label for="keterangan">Keterangan</label>
            <input type="text" class="form-control" id="keterangan" placeholder="Masukkan Keterangan" required />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="addConfirm">
          Simpan
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Barang Keluar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          <div class="form-group">
            <label for="edit_tanggal_keluar">Tanggal</label>
            <input type="date" class="form-control" id="edit_tanggal_keluar" required />
          </div>
          <div class="form-group">
            <label for="edit_barang_id">Nama Barang</label>
            <select class="form-control" id="edit_barang_id" required>
              {% for item in items %}
              <option value="{{ item._id }}">{{ item.nama_barang }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="edit_jumlah_barang">Jumlah</label>
            <input type="number" class="form-control" id="edit_jumlah_barang" required />
          </div>
          <div class="form-group">
            <label for="edit_keterangan">Keterangan</label>
            <input type="text" class="form-control" id="edit_keterangan" placeholder="Masukkan Keterangan" required />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="editConfirm">
          Simpan
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Hapus Barang</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Apakah Anda yakin untuk menghapus item ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" id="deleteConfirm">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>

  document.getElementById('searchInput').addEventListener('input', function () {
    const searchValue = this.value.toLowerCase();
    const rows = document.querySelectorAll('#body-table tr');

    rows.forEach(row => {
      const categoryName = row.querySelector('.nama_barang').textContent.toLowerCase();
      if (categoryName.includes(searchValue)) {
        row.classList.remove('hidden');
      } else {
        row.classList.add('hidden');
      }
    });
  });

  document.getElementById('addConfirm').addEventListener('click', function () {
    const tanggal_keluar = document.getElementById('tanggal_keluar').value;
    const barang_id = document.getElementById('barang_id').value;
    const keterangan = document.getElementById('keterangan').value;
    const jumlah_barang = document.getElementById('jumlah_barang').value;
    fetch('/barangkeluar/add', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        tanggal_keluar: tanggal_keluar,
        barang_id: barang_id,
        keterangan: keterangan,
        jumlah_barang: jumlah_barang
      })
    }).then(response => response.json())
      .then(data => {
        if (data.message === 'Outgoing item added successfully!') {
          location.reload();
        } else {
          alert(data.message);
        }
      });
  });

  document.querySelectorAll('.edit-btn').forEach(button => {
    button.addEventListener('click', function () {
      const row = this.closest('tr');
      const id = row.dataset.id;
      const tanggal_keluar = row.querySelector('.tanggal_keluar').textContent;
      const barang_id = row.querySelector('.barang_id').textContent;
      const keterangan = row.querySelector('.keterangan').textContent;
      const jumlah_barang = row.querySelector('.jumlah_barang').textContent;

      console.log(keterangan)

      // Set the form values
      document.getElementById('edit_tanggal_keluar').value = tanggal_keluar;
      document.getElementById('edit_barang_id').value = barang_id;
      document.getElementById('edit_keterangan').value = keterangan;
      document.getElementById('edit_jumlah_barang').value = jumlah_barang;

      // Show the modal
      $('#editModal').modal('show');

      // Set the form action
      document.getElementById('editConfirm').onclick = function () {
        const newTanggalKeluar = document.getElementById('edit_tanggal_keluar').value;
        const newNamaBarang = document.getElementById('edit_barang_id').value;
        const newKeterangan = document.getElementById('edit_keterangan').value;
        const newJumlahBarang = document.getElementById('edit_jumlah_barang').value;
        const oldJumlahBarang = jumlah_barang;

        fetch(`/barangkeluar/edit/${id}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            tanggal_keluar: newTanggalKeluar,
            barang_id: newNamaBarang,
            keterangan: newKeterangan,
            jumlah_barang: newJumlahBarang,
            old_jumlah_barang: oldJumlahBarang
          })
        }).then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.message === 'Outgoing item updated successfully!') {
              location.reload();
            } else {
              alert(data.message);
            }
          });
      }
    });
  });

  document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', function () {
      const row = this.closest('tr');
      const id = row.dataset.id;
      document.getElementById('deleteConfirm').onclick = function () {
        fetch(`/barangkeluar/delete/${id}`, {
          method: 'DELETE'
        }).then(response => response.json())
          .then(data => {
            if (data.message === 'Outgoing item deleted successfully!') {
              location.reload();
            } else {
              alert(data.message);
            }
          });
      }
    });
  });
</script>
{% endblock %}