{% extends "base_adminbarang.html" %}

{% block title %}
Laporan Barang Per Bulan -
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/adminbarang_kartustock.css">
{% endblock %}

{% block content %}

<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h1>REPORT BARANG</h1>
        </div>

        <h3 style="margin-top: 20px;">Filter Report</h3>

        <form action="" method="GET">
            <div class="form-inline">
                <label for="bulan" style="margin-right: 10px;">Filter Bulan:</label>
                <input type="month" id="bulan" class="form-control" aria-label="Filter Bulan" style="
                border-radius: 10px;
                padding: 8px;
                border: 1px solid var(--black2);
            " name="bulan"
                    value="{% if param_bulan is not none and param_bulan != '' %}{{ param_bulan }}{% endif %}" />
                    <button class="btn"
                    style="padding: 10px 20px; background: #272c52; color: var(--white); border-radius: 6px; margin-left: 10px;">Submit</button>
            </div>
        </form>
        
        {% if param_bulan %}

        <h2 style="margin-top: 20px;">
            {% if param_bulan %}
            Laporan Keluar Masuk Barang Periode {{ indonesian_date }}
            {% else %}
            {% endif %}
        </h2>

        <!-- Summary report -->
        <table>
            <thead>
                <tr>
                    <th>Nama Barang</th>
                    <th>Total Barang Masuk</th>
                    <th>Total Barang Keluar</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.nama_barang }}</td>
                    <td>{{ total_masuk_dict[item.nama_barang] if item.nama_barang in total_masuk_dict else 0 }}</td>
                    <td>{{ total_keluar_dict[item.nama_barang] if item.nama_barang in total_keluar_dict else 0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}
