<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Transaksi Barang</title>
    <style>
        .text-center {
          text-align: center;
        }
        th, td {
          padding: 5px;
          text-align: center;
        }
        table {
          width: 100%;
          border-collapse: collapse;
        }
        table, th, td {
          border: 1px solid black;
        }
        h1, h2 {
          text-align: center;
        }
    </style>
</head>
<body>
    <h1>Data Transaksi Barang</h1>
    <h2>
      Laporan Barang {{ 'Masuk' if jenis_laporan == 'in' else 'Keluar' }} periode
      {% if start_date %}
        {{ start_date.strftime('%d-%m-%Y') }}
      {% else %}
        -
      {% endif %}
      sampai
      {% if end_date %}
        {{ end_date.strftime('%d-%m-%Y') }}
      {% else %}
        -
      {% endif %}
    </h2>
    <table>
        <thead>
            <tr>
              <th class="text-center">No</th>
              <th class="text-center">Tanggal</th>
              <th class="text-center">Kategori</th>
              <th class="text-center">Nama Barang</th>
              <th class="text-center">Jumlah</th>
              <th class="text-center">Harga</th>
              <th class="text-center">Keterangan</th>
            </tr>
          </thead>
          <tbody>
            {% for data in transactions %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                {% if jenis_laporan == 'out' %}
                  {{ data.tanggal_keluar.strftime('%Y-%m-%d') }}
                {% else %}
                  {{ data.tanggal_masuk.strftime('%Y-%m-%d') }}
                {% endif %}
              </td>
              <td>{{ data.nama_kategori }}</td>
              <td>{{ data.nama_barang }}</td>
              <td>{{ data.jumlah_barang }}</td>
              <td>
                {% if jenis_laporan == 'out' %}
                  - 
                {% else %}
                  {{ data.harga_barang | rupiah }}
                {% endif %}
              </td>
              <td>{{ data.keterangan }}</td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
</body>
</html>
