<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Laporan Stock</title>
    <style>
        .text-center {
          text-align: center;
        }
        th, td {
          padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Data Laporan Stock</h1>
    <table border="1">
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Kategori</th>
            <th class="text-center">Nama Barang</th>
            <th class="text-center">Satuan</th>
            <th class="text-center">Jumlah</th>
          </tr>
        </thead>
  
        <tbody>
          {% for data in items %}
          <tr data-id="{{ data._id}}">
            <td class="text-center">{{ loop.index }}</td>
            <td>{{ data.nama_kategori }}</td>
            <td>{{ data.nama_barang }}</td>
            <td>{{ data.nama_satuan }}</td> 
            <td class="text-center">{{ data.stock_tersedia }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>