{% extends "base_kepalagudang.html" %}

{% block title %}
Dashboard - 
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/kepalagudang_dashboard.css">
{% endblock %}

{% block content %}
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>SELAMAT DATANG DI SISTEM INFORMASI INVENTORY BARANG RSUD DR.DARSONO PACITAN</h2>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="/static/img/dashboard kepala gudang.png" width="400" height="300" style="margin-top: 20px;">
    </div>

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px;">
      <h2>Lihat laporan gudang dengan cepat dan mudah di sini!</h2>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 25px;">
      <a href="/kg-laporan-persediaan" class="btn" style="padding: 10px 20px;
            background: #9DBEE4;
            text-decoration: none;
            color: var(--white);
            border-radius: 6px;">Lihat Laporan Sekarang!</a>
    </div>
  </div>
</div>
{% endblock %}